<section
  class="appointment-section relative bg-cover bg-center mx-5 my-6 min-h-[45vh] lg:mx-10 lg:my-8 rounded-3xl text-white py-40 lg:py-48 md:min-h-[50vh] lg:min-h-[60vh]"
  [style.backgroundImage]="'url(' + backgroundImageUrl + ')'"
>
  <!-- Dark overlay to improve text visibility -->
  <div class="absolute inset-0 bg-black rounded-3xl opacity-50"></div>

  <!-- Content inside the hero section -->
  <div
    class="flex flex-col items-center justify-center container mx-auto relative z-10"
  >
    <app-contact-us-card></app-contact-us-card>
  </div>
</section>
