#header {
  .header-container {
    @media (max-width: 768px) {
      nav {
        transition: transform 0.3s ease-in-out;
      }

      nav.hidden {
        transform: translateX(-100%);
      }

      nav.block {
        transform: translateX(0);
      }
    }
  }
}
