<!-- <section id="header" class="px-6 py-4">
  <div class="flex items-center justify-between">
    <p class="mb-0 text-2xl w-[15rem] text-center text-white">
      Cubit Global Solution
    </p>

    <div class="flex items-center justify-center gap-6">
      <img
        matRipple
        class="cursor-pointer"
        src="assets/icons/header-icons/instagram.svg"
        alt="Instagram Icon"
      />

      <img
        class="cursor-pointer"
        matRipple
        src="assets/icons/header-icons/linkedin.svg"
        alt="linkedin Icon"
      />

      <img
        class="cursor-pointer"
        matRipple
        src="assets/icons/header-icons/twitterx.svg"
        alt="X Icon"
      />
    </div>
  </div>
</section> -->

<section id="header" class="px-6 py-4 fixed bg-white right-0 left-0">
  <div class="flex items-center justify-between">
    <!-- Company Name -->
    <p class="mb-0 text-sm sm:text-base md:text-xl text-black">
      Cubit Global Solution
    </p>

    <!-- Social Icons Container -->
    <div class="flex items-center justify-center gap-6">
      <img
        matRipple
        class="cursor-pointer w-6 h-6 sm:w-8 sm:h-8"
        src="assets/icons/header-icons/instagram.svg"
        alt="Instagram Icon"
      />

      <img
        class="cursor-pointer w-6 h-6 sm:w-8 sm:h-8"
        matRipple
        src="assets/icons/header-icons/linkedin.svg"
        alt="LinkedIn Icon"
      />

      <img
        class="cursor-pointer w-6 h-6 sm:w-8 sm:h-8"
        matRipple
        src="assets/icons/header-icons/twitterx.svg"
        alt="Twitter Icon"
      />
    </div>
  </div>
</section>
