<section
  class="px-3 sm:max-w-[33.75rem] sm:mx-auto md:max-w-[45rem] md:mx-auto lg:max-w-[81.875rem] lg:px-5 lg:mx-auto lg:w-full"
>
  <div>
    <h1
      class="w-full text-3xl  md:text-6xl font-bold md:w-10/12 mx-auto mt-6 md:mt-52 mb-14 md:mb-24"
    >
      Here’s what you can expect from us...
    </h1>

    <div class="flex flex-wrap flex-col md:flex-row gap-5 mb-16 md:mb-52">
      <div
        style="
          background-color: rgb(138, 216, 192);
          opacity: 1;
          transform: none;
        "
        class="min-h-[350px] lg:min-h-[500px] flex flex-col gap-7 rounded-mobile md:rounded p-[30px] lg:p-[50px] w-full md:w-[calc(33.33%-10px)] hover:scale-105"
      >
        <span class="font-bold">Property Acquisition & Development</span>
        <h2 class="text-4xl font-bold leading-tight text-gray-800">
          We acquire, manage, and develop real estate properties, including
          land, buildings, and other assets, for sale, lease, or improvement.
        </h2>
      </div>

      <div
        style="background-color: rgb(198, 244, 89); opacity: 1; transform: none"
        class="min-h-[350px] lg:min-h-[500px] flex flex-col gap-7 rounded-mobile md:rounded p-[30px] lg:p-[50px] w-full md:w-[calc(66.66%-10px)] hover:scale-105"
      >
        <span class="font-bold">Real Estate & Construction</span>
        <h2 class="text-4xl font-bold leading-tight text-gray-800">
          We specialize in estate agency, land brokerage, and property
          transactions, offering a wide range of real estate services. We also
          supply construction equipment, materials, and resources.
        </h2>
      </div>

      <div
        style="
          background-color: rgb(243, 154, 142);
          opacity: 1;
          transform: none;
        "
        class="min-h-[350px] lg:min-h-[500px] flex flex-col gap-7 rounded-mobile md:rounded p-[30px] lg:p-[50px] w-full md:w-[calc(50%-10px)] hover:scale-105"
      >
        <span class="font-bold">Interior Design Services</span>
        <h2 class="text-4xl font-bold leading-tight text-gray-800">
          Our team offers expert interior design, transforming homes, offices,
          hotels, and more into functional and beautiful spaces.
        </h2>
      </div>

      <div
        style="
          background-color: rgb(133, 203, 218);
          opacity: 1;
          transform: none;
        "
        class="min-h-[350px] lg:min-h-[500px] flex flex-col gap-7 rounded-mobile md:rounded p-[30px] lg:p-[50px] w-full md:w-[calc(50%-10px)] hover:scale-105"
      >
        <span class="font-bold">Procurement & Project Management</span>
        <h2 class="text-4xl font-bold leading-tight text-gray-800">
          We provide procurement services and expert project management to
          ensure seamless execution of projects.
        </h2>
      </div>
    </div>
  </div>
</section>
