<section>
  <div
    class="about-desc-section bg-white mx-5 my-6 lg:mx-10 lg:my-8 rounded-3xl text-white"
  >
    <div
      class="flex items-center justify-center flex-col-reverse lg:flex-row w-full py-10 px-8 gap-6 lg:py-20 lg:px-12"
    >
      <div class="w-full lg:w-[49.7%]">
        <img
          class="rounded-lg w-full"
          src="assets/images/about-us.jpg"
          alt="About us Image"
        />
      </div>

      <div class="flex flex-col sm:w-full lg:w-[50.3%]">
        <div>
          <p class="text-black mb-4 lg:mb-9 text-3xl lg:text-5xl font-normal">
            About Us
          </p>

          <div class="border mb-7 border-solid h-1 w-12 bg-[#34a0a4]"></div>
        </div>

        <p class="text-black font-medium text-left text-xl mb-5 w-full">
          Welcome to Cubit Global Solutions, your reliable partner in finding
          your ideal property. Driven by a passion for helping people discover
          their dream homes, we are committed to offering top-notch service and
          achieving excellent outcomes.
        </p>

        <p class="text-[#000000a6] mb-0 text-left text-xl w-full">
          At Cubit Global Solutions, we take pride in being a respected and
          reliable name in the real estate sector. Backed by years of experience
          and a team of dedicated professionals, we are devoted to delivering
          outstanding service to our clients. Whether you're looking to buy,
          sell, or rent, we are here to support you every step of the way,
          ensuring a seamless and successful experience.
        </p>
      </div>
    </div>
  </div>

  <div
    class="cu-desc-section bg-inherit mx-5 my-6 lg:mx-10 lg:my-8 rounded-3xl text-white"
  >
    <div
      class="flex items-center justify-center flex-col lg:flex-row w-full py-10 px-8 gap-6 lg:py-20 lg:px-12"
    >
      <div
        class="flex flex-col items-center justify-center sm:w-full text-center max-w-full"
      >
        <div class="flex items-center justify-center flex-col">
          <p class="text-[#34a0a4] mb-9 text-[15px] font-normal">
            {{ "Client-Centric Approach" | uppercase }}
          </p>

          <div class="border mb-7 border-solid h-1 w-12 bg-[#34a0a4]"></div>
        </div>

        <p
          class="text-black font-medium text-center text-3xl lg:text-4xl mb-5 w-full lg:w-[900px]"
        >
          Our clients come first. Outstanding customer service and tailored
          experiences are at the heart of our company culture.
        </p>
      </div>
    </div>
  </div>

  <div
    class="about-desc-section bg-white mx-5 my-6 lg:mx-10 lg:my-8 rounded-3xl text-white"
  >
    <div
      class="flex items-center justify-center flex-col lg:flex-row-reverse w-full py-10 px-8 gap-6 lg:py-20 lg:px-12"
    >
      <div class="w-full lg:w-[49.7%]">
        <img class="rounded-lg w-full" src="assets/images/AG.jpg" alt="CEO" />
      </div>

      <div class="flex flex-col sm:w-full lg:w-[50.3%]">
        <div>
          <p class="text-black mb-4 lg:mb-9 text-3xl lg:text-5xl font-normal">
            Our History
          </p>

          <div class="border mb-7 border-solid h-1 w-12 bg-[#34a0a4]"></div>
        </div>

        <p class="text-black font-medium text-left text-xl mb-5 w-full">
          Established 2 years ago by Emuobo Obere, our company was created with
          a profound awareness of the difficulties and frustrations frequently
          encountered by buyers, sellers, and investors in the market.
        </p>

        <p class="text-[#000000a6] mb-0 text-left text-xl w-full">
          For more than 2 years, Cubit Global Solutions has been a prominent
          leader in the industry. Driven by a steadfast commitment to excellence
          and a focus on our clients, we have gained the so much more. Our vast
          experience, paired with a team of passionate professionals, enables us
          to provide exceptional service and outstanding results. Whether you're
          buying, selling, or investing in real estate, you can count on Cubit
          Global Solutions to support and guide you at every stage of the
          journey.
        </p>
      </div>
    </div>
  </div>
</section>
