<section
  class="services-section bg-white mx-5 my-6 lg:mx-10 lg:my-8 rounded-3xl text-white"
>
  <div
    class="flex items-center justify-between flex-col-reverse lg:flex-row w-full py-10 px-8 gap-6 lg:py-20 lg:px-12"
  >
    <div class="w-full lg:w-[49.7%]">
      <img
        class="rounded-lg w-full"
        src="assets/images/about-us.jpg"
        alt="About us Image"
      />
    </div>

    <div class="flex flex-col sm:w-full lg:w-[50.3%]">
      <div>
        <p class="text-black mb-9 text-5xl font-normal">About Us</p>

        <div class="border mb-7 border-solid h-1 w-12 bg-[#34a0a4]"></div>
      </div>

      <p
        class="text-black font-medium text-justify text-xl mb-5 w-full lg:w-[628px]"
      >
        Welcome to Cubit Global Solutions, your reliable partner in finding your
        ideal property. Driven by a passion for helping people discover their
        dream homes, we are committed to offering top-notch service and
        achieving excellent outcomes.
      </p>

      <p class="text-[#000000a6] mb-0 text-justify text-xl w-full lg:w-[628px]">
        At Cubit Global Solutions, we take pride in being a respected and
        reliable name in the real estate sector. Backed by years of experience
        and a team of dedicated professionals, we are devoted to delivering
        outstanding service to our clients. Whether you're looking to buy, sell,
        or rent, we are here to support you every step of the way, ensuring a
        seamless and successful experience.
      </p>
    </div>
  </div>
</section>
