<section
  class="hero-section relative bg-cover bg-center mx-5 my-6 min-h-[50vh] lg:mx-10 lg:my-8 rounded-3xl text-white py-40 lg:py-48 md:min-h-[60vh] lg:min-h-[80vh]"
  [style.backgroundImage]="'url(' + getBackgroundImage() + ')'"
>
  <div class="relative z-20 top-[-156px] lg:top-[-180px]">
    <app-header></app-header>
  </div>

  <!-- Dark overlay to improve text visibility -->
  <div class="absolute inset-0 bg-black rounded-3xl opacity-50"></div>

  <!-- Content inside the hero section -->
  <div
    class="flex flex-col items-center justify-center gap-6 container mx-auto text-center relative z-10 px-6"
  >
    <p class="text-lg sm:text-xl lg:text-2xl">{{ subtitle }}</p>

    <h1
      class="text-3xl h-[162px] w-full sm:text-5xl lg:text-7xl lg:h-[162px] lg:w-[942px] font-bold"
    >
      {{ title }}
    </h1>

    <!-- Conditional Button -->
    <div *ngIf="showButton">
      <button
        type="button"
        class="bg-[#34a0a4] px-6 sm:px-8 py-3 text-sm sm:text-lg font-semibold rounded-full hover:bg-[#0b787c] transition duration-300"
      >
        {{ buttonText }}
      </button>
    </div>
  </div>
</section>
