<section
  class="selling-card px-3 sm:max-w-[33.75rem] sm:mx-auto md:max-w-[45rem] md:mx-auto lg:max-w-[81.875rem] lg:px-5 lg:mx-auto lg:w-full"
>
  <div class="flex flex-wrap flex-col md:flex-row gap-5 mb-16 md:mb-52">
    <h1
      class="w-full text-3xl md:text-6xl font-bold md:w-10/12 mx-auto mt-6 md:mt-6 mb-14 md:mb-24"
    >
      "The real estate products we are currently offering"
    </h1>

    <div
      class="card min-h-[350px] lg:min-h-[500px] flex flex-col gap-7 rounded-mobile md:rounded p-[30px] lg:p-[50px] w-full md:w-[calc(50%-10px)] hover:scale-105"
    >
      <div class="card-inner">
        <div class="card-front">
          <div class="w-full">
            <img
              class="object-cover"
              src="assets/images/estate-sales.jpg"
              alt="Estate"
            />
          </div>
        </div>

        <div class="card-back">
          <div class="bg-blue-200 p-4">
            <p class="text-black">
              300sqm of landed property is up for sale located in Treasure Park
              & Gardens, phase 3, Shimawa, Ogun State.
            </p>

            <div>
              <p>Estate Features:</p>
              <li>
                <ul>
                  Arcade & Sport Center
                </ul>
                <ul>
                  Perimeter fence
                </ul>
                <ul>
                  Basketball Court
                </ul>
                <ul>
                  Cinema
                </ul>
                <ul>
                  Eateries
                </ul>
                <ul>
                  CCTV
                </ul>
                <ul>
                  Proper drainage
                </ul>
                <ul>
                  Gym & Health facilities
                </ul>
                <ul>
                  Supermarkets
                </ul>
                <ul>
                  Swimming pool
                </ul>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="card min-h-[350px] lg:min-h-[500px] flex flex-col gap-7 rounded-mobile md:rounded p-[30px] lg:p-[50px] w-full md:w-[calc(50%-10px)]"
    >
      <div class="card-inner">
        <div class="card-front">
          <div class="w-full">
            <img class="object-cover" src="assets/images/Gloval-2.jpg" alt="" />
          </div>
        </div>

        <div class="card-back">
          <div class="w-full">
            <img class="object-cover" src="assets/images/Gloval-3.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <!-- <div
      class="card min-h-[350px] lg:min-h-[500px] flex flex-col gap-7 rounded-mobile md:rounded p-[30px] lg:p-[50px] w-full md:w-[calc(33.33%-10px)] hover:scale-105"
    >
      <div class="card-inner">
        <div class="card-front">
          <p>Front Side</p>
        </div>

        <div class="card-back">
          <p>Back Side</p>
        </div>
      </div>
    </div>

    <div
      class="card min-h-[350px] lg:min-h-[500px] flex flex-col gap-7 rounded-mobile md:rounded p-[30px] lg:p-[50px] w-full md:w-[calc(66.66%-10px)] hover:scale-105"
    >
      <div class="card-inner">
        <div class="card-front">
          <p>Front Side</p>
        </div>

        <div class="card-back">
          <p>Back Side</p>
        </div>
      </div>
    </div> -->
  </div>

  <!-- /* From Uiverse.io by Javierrocadev */
  <div
    class="relative group cursor-pointer overflow-hidden duration-500 w-64 h-80 bg-zinc-800 text-gray-50 p-5"
  >
    <div class="">
      <div
        class="group-hover:scale-110 w-full h-60 bg-blue-400 duration-500"
      ></div>
      <div
        class="absolute w-56 left-0 p-5 -bottom-16 duration-500 group-hover:-translate-y-12"
      >
        <div
          class="absolute -z-10 left-0 w-64 h-28 opacity-0 duration-500 group-hover:opacity-50 group-hover:bg-blue-900"
        ></div>
        <span class="text-xl font-bold">Hover me!</span>
        <p class="group-hover:opacity-100 w-56 duration-500 opacity-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </div>

  /* From Uiverse.io by Javierrocadev */
  <div
    class="relative group cursor-pointer overflow-hidden duration-500 w-64 h-80 bg-zinc-800 text-gray-50 p-5"
  >
    <div class="">
      <div
        class="group-hover:scale-110 w-full h-60 bg-blue-400 duration-500"
      ></div>
      <div
        class="absolute w-56 left-0 p-5 -bottom-16 duration-500 group-hover:-translate-y-12"
      >
        <div
          class="absolute -z-10 left-0 w-64 h-28 opacity-0 duration-500 group-hover:opacity-50 group-hover:bg-blue-900"
        ></div>
        <span class="text-xl font-bold">Hover me!</span>
        <p class="group-hover:opacity-100 w-56 duration-500 opacity-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </div> -->
</section>
