<section
  class="testiomonial-section relative bg-white mx-5 my-6 py-4 px-4 lg:py-20 lg:px-12 min-h-[50vh] lg:mx-10 lg:my-8 rounded-3xl text-white md:min-h-[60vh] lg:min-h-[80vh]"
>
  <!-- class="services-section relative bg-white mx-5 my-6 py-4 px-4 lg:py-20 lg:px-12 rounded-3xl text-white" -->
  <div class="flex flex-col items-center justify-between lg:flex-row">
    <div
      class="flex items-start justify-start flex-col w-full lg:w-[34.5rem] py-12 gap-5 service-text-content text-left"
    >
      <div class="mb-6">
        <svg
          aria-hidden="true"
          width="40"
          height="40"
          class="fill-[#34a0a4]"
          viewBox="0 0 512 512"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z"
          ></path>
        </svg>
      </div>

      <p class="text-black mb-0 text-4xl lg:text-6xl font-medium">
        Hear from clients who have discovered the ideal space to bring their
        creations to life...
      </p>

      <div class="border mb-0 border-solid h-1 w-12 bg-[#34a0a4]"></div>

      <p class="text-[#000000a6] mb-0 font-normal text-xl text-left w-full">
        Explore testimonials from happy clients who have found their ideal
        properties with Real Estate, the trusted experts in helping you secure
        the perfect home.
      </p>

      <button
        type="button"
        class="bg-[#34a0a4] px-6 sm:px-8 py-3 text-sm sm:text-lg font-semibold rounded-full hover:bg-[#0b787c] transition duration-300"
      >
        MORE TESTIMONIALS
      </button>
    </div>

    <!-- Card -->
    <div class="flex flex-col gap-6 lg:w-[52.7%]">
      <div
        class="flex flex-col border border-solid border-[#0000001A] rounded-[1.25rem] p-5 gap-5"
      >
        <div class="flex items-center">
          <svg
            aria-hidden="true"
            width="18px"
            height="18px"
            class="fill-[#F0AD4E]"
            viewBox="0 0 1000 1000"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z"
            ></path>
          </svg>

          <svg
            aria-hidden="true"
            width="18px"
            height="18px"
            class="fill-[#F0AD4E]"
            viewBox="0 0 1000 1000"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z"
            ></path>
          </svg>

          <svg
            aria-hidden="true"
            width="18px"
            height="18px"
            class="fill-[#F0AD4E]"
            viewBox="0 0 1000 1000"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z"
            ></path>
          </svg>

          <svg
            aria-hidden="true"
            width="18px"
            height="18px"
            class="fill-[#F0AD4E]"
            viewBox="0 0 1000 1000"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z"
            ></path>
          </svg>

          <svg
            aria-hidden="true"
            width="18px"
            height="18px"
            class="fill-[#F0AD4E]"
            viewBox="0 0 1000 1000"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z"
            ></path>
          </svg>
        </div>

        <div class="flex flex-col gap-5">
          <p class="text-[#000000a6] mb-0 font-normal text-xl text-left w-full">
            "We are thrilled with our new home! The spacious layout,
            high-quality finishes, and peaceful neighborhood made it the perfect
            choice for our family. The outdoor space is great for entertaining,
            and the location is ideal with nearby schools, parks, and shops. The
            real estate team was professional and made the buying process
            seamless. We couldn’t be happier and are excited to start our new
            chapter here!"
          </p>

          <p class="text-[#34a0a4] mb-0 text-xl text-left w-full">
            Jame Oliver
          </p>
        </div>
      </div>

      <div
        class="flex flex-col border border-solid border-[#0000001A] rounded-[1.25rem] p-5 gap-5"
      >
        <div class="flex items-center">
          <svg
            aria-hidden="true"
            width="18px"
            height="18px"
            class="fill-[#F0AD4E]"
            viewBox="0 0 1000 1000"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z"
            ></path>
          </svg>

          <svg
            aria-hidden="true"
            width="18px"
            height="18px"
            class="fill-[#F0AD4E]"
            viewBox="0 0 1000 1000"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z"
            ></path>
          </svg>

          <svg
            aria-hidden="true"
            width="18px"
            height="18px"
            class="fill-[#F0AD4E]"
            viewBox="0 0 1000 1000"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z"
            ></path>
          </svg>

          <svg
            aria-hidden="true"
            width="18px"
            height="18px"
            class="fill-[#F0AD4E]"
            viewBox="0 0 1000 1000"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z"
            ></path>
          </svg>

          <svg
            aria-hidden="true"
            width="18px"
            height="18px"
            class="fill-[#F0AD4E]"
            viewBox="0 0 1000 1000"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M450 75L338 312 88 350C46 354 25 417 58 450L238 633 196 896C188 942 238 975 275 954L500 837 725 954C767 975 813 942 804 896L763 633 942 450C975 417 954 358 913 350L663 312 550 75C529 33 471 33 450 75Z"
            ></path>
          </svg>
        </div>

        <div class="flex flex-col gap-5">
          <p class="text-[#000000a6] mb-0 text-xl font-normal text-left w-full">
            "We are absolutely in love with our new home! The modern design,
            spacious rooms, and beautiful surroundings make it the perfect place
            for our family. The location is fantastic, with everything we need -
            schools, parks, and shops - just a short walk away. The real estate
            team was incredibly helpful, guiding us every step of the way. We're
            so happy with our choice and excited to settle in!"
          </p>

          <p class="text-[#34a0a4] mb-0 text-xl text-left w-full">
            Samuel Ekuma
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
